<html>
    <title>Ansible</title>
    <body>
       <h1>current server OS is {{ansible_distribution}}</h1>
       <h1>current server hostname is {{ansible_hostname}}</h1>
       <h1>current server is managed by {{user_name}}</h1>
    </body>
</html>